html {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("images/wood.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

}
.board {
    display: flex;
    flex-direction:column;
    justify-content:center ;
}

.row-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
  }

.board-row-black {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;

}

.board-row-white {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
} 


.cell-black {
    width: 5vw;
    height: 5vw;
    display: inline;
    border: solid 1px gray;
    background-image: url("images/dark_wood.png");
    background-size:cover ;
    background-repeat: no-repeat;
}

.cell-white {
    width: 5vw;
    height: 5vw;
    display: inline;
    border: solid 1px gray;
    background-image: url("images/white_wood.png");
    background-size:cover ;
    background-repeat: no-repeat;
}

.cell-side-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    height: 5vw;
    border: solid 1px black;
    background-color: rgb(161, 104, 34);
    font-weight:bolder ;
    font-style: italic;
}

.cell-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 2.5vw;
    border: solid 1px black;
    background-color: rgb(161, 104, 34);
    font-weight:bold ;
    font-style: italic;
}

.left-upper-cell {
    width: 2.5vw;
    height: 2.5vw;
    border: solid 1px black;
    background-color: rgb(161, 104, 34);
    border-top-left-radius: 35px;

}
.right-upper-cell {
    width: 2.5vw;
    height: 2.5vw;
    border: solid 1px black;
    background-color: rgb(161, 104, 34);
    border-top-right-radius: 35px;
}
.left-bottom-cell {
    width: 2.5vw;
    height: 2.5vw;
    border: solid 1px black;
    background-color: rgb(161, 104, 34);
    border-bottom-left-radius: 35px;
}
.right-bottom-cell {
    width: 2.5vw;
    height: 2.5vw;
    border: solid 1px black;
    background-color: rgb(161, 104, 34);
    border-bottom-right-radius: 35px;
}
